label {
    width: 100px;
}
label.error {
    color: red;
}
input {
    border : 1px solid #ccc;
    margin-bottom:20px;
}
input.error {
    border-color: red;
}
.content {
    padding: 15px;
    border: 1px solid #ccc;
}

button {
    margin:10px;
}

.error {

    border-color:red;
}

